.checkbox {
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.checkbox-icon {
  text-align: right;
  padding: 0 0.5em;
  font-size: 1.25em;
}

.checkbox-label {
  margin-left: -1rem;
}

.checkbox-label.strike {
  text-decoration: line-through;
}

.checkbox-label::first-letter {
  text-transform: capitalize;
}

.checkbox .checked {
  color: olivedrab;
}
input[type='checkbox'] {
  opacity: 0;
  width: 1em;
  height: 1em;
}
